@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
*{
    font-family: "Plus Jakarta Sans";
}
#pantallaLogin{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #2c0129, #040007);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sketch-container canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.contenedorForm{
    width: 35%;
    position: relative;
    z-index: 20; 
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.contenedorInputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contenedorInputs > input{
    width: 100%;
    border-radius: 10px;
    border: none;
    height: 2.5rem;
    box-sizing: border-box;
    padding: 10px;
    color: #34004D;
    font-size: large;
}
.contenedorInputs > input::placeholder{
    color: #34004D;
    opacity: 0.55;
}
.contenedorInputs > input:hover{
    outline: none;
}
#inputNombre{
    background-color: white;
}
#inputNombre:hover{
    outline: 2px solid white;
    outline-offset: 2px;
}
#inputApellido1{
    background-color: #FF5353;
}
#inputApellido1:hover{
    outline: 2px solid #FF5353;
    outline-offset: 2px;
}
#inputApellido2{
    background-color: #796DFF;
}
#inputApellido2:hover{
    outline: 2px solid #796DFF;
    outline-offset: 2px;
}
#inputCorreo{
    background-color: #FFAF52;
}
#inputCorreo:hover{
    outline: 2px solid #FFAF52;
    outline-offset: 2px;
}
#inputNick{
    background-color: #96FF8D;
}
#inputNick:hover{
    outline: 2px solid #96FF8D;
    outline-offset: 2px;
}
#inputPwd{
    background-color: #FFDB5B;
}
#inputPwd:hover{
    outline: 2px solid #FFDB5B;
    outline-offset: 2px;
}
.opcionesForm{
    width: 100%;
    background-color: pink;
    position: relative;
}
#cubo{
    transition: all 1s;
    position: absolute;
}
.botonEnvio{
    color: white;
    border-radius: 10px;
    border: none;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCAF58;
    position: absolute;
    top: 50%;
    right: 0;
    transition: scale 0.2s;
    &:hover{
        scale: 1.1;
        cursor: pointer;
    }
    text-decoration: none;
}
.mensajeOpcion{
    font-size: 15px;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    transform: translateY(-50%);
}