
#pantalla-practica{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #2c0129, #040007);
    display: grid;
    grid-template-columns: 40% 60%;
    position: relative;
}
#contenedor-opciones-algset{
    position: relative;
    height: 80%;
    width: 60%;
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-rows: 15% 85%;
    gap: 0.5rem;
}
#tipos-algset{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    padding: 0.2rem;
}
.tipo-algset{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(255, 220, 153,0.3);
    color: rgb(0, 0, 0,0.2);
    width: 9cqh;
    height: 9cqh;
    font-size: 100%;
    transition: background-color 0.2s, outline 0.2s;
}
.tipo-algset.activo{
    background-color: rgb(255, 220, 153,0.9);
    color: rgb(0, 0, 0,1);
    outline: #FFA800 1px solid;
    outline-offset: 4px;
    font-size: 110%;
}
#contenedor-casos{
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    flex-wrap: wrap;
    max-height: 70cqh;
    height: 100%;
    box-sizing: border-box;
    padding: 5%;
    gap: 5%;
    background-color: rgb(255, 220, 153,0.9);
    border-radius: 10px;
    overflow: auto;
    &::-webkit-scrollbar{
        width: 0;
    }
}
#contenedor-marcar-todos {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#contenedor-marcar-todos > * {
    cursor: pointer;
    margin: 0;
    height: fit-content;
}

#contenedor-marcar-todos input[type="checkbox"] {
    vertical-align: middle; /* Alineación vertical */
}

.caso{
    position: relative;
    width: calc(25% - 5%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    &.activo{
        background-color: rgb(77, 134, 181);
    }
}

/* cubo-y-tiempos */
#cubo-y-tiempos{
    position: relative;
    height: 70%;
    width: 40%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border-radius: 20px;
    gap: 3%;
    transform: translateX(-25%);
    padding: 1rem;
}
#caso-actual{
    width: 100%;
}
#tiempo-actual{
    font-size: 170%;
}
#media-sesion{
    font-size: 150%;
}