@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
*{
    font-family: "Plus Jakarta Sans";
    user-select: none;
}
#pantalla-principal{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #3F023C, #0C0116);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100%;
    height: 17.8%;
    background-color: rgba(217, 217, 217, 0.04);
    position: absolute;
    top: 0;
    left: 0;
}
#logo{
    position: absolute;
    height: 100%;
    font-size: 40px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}
#contenedor-opciones-nav{
    position: absolute;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    gap: 5rem;
    box-sizing: border-box;
    padding: 0 2rem;
    color: white;
}
#contenedor-opciones-nav img{
    height: 80%;
    border-radius: 50%;
}
#contenedor-opciones-nav > *{
    cursor: pointer;
    transition: scale 0.6;
    &:hover{
        scale: 1.05;
    }
}
.boton-modo{
    height: 15%;
    position: absolute;
    box-sizing: border-box;
    font-size: 25px;
    border: none;
    border-radius: 30px;
    outline: 2px solid ;
    outline-offset: 5px;
    cursor: pointer;
    transform: translateX(-50%);
    width: 18%;
}
#boton-practica{
    background-color: rgba(255, 168, 0, 0.1);
    color: #FFF0D3;
    outline-color: rgba(255, 168, 0, 0.84);
    left: 30%;
    top: 25%;
}
#boton-cronometro{
    background-color: rgba(0, 102, 255, 0.1);
    color: #E2EDFF;
    outline-color: rgba(0, 102, 255, 0.84);
    left: 70%;
    top: 25%;
}
#boton-1vs1{
    background-color: rgba(177, 0, 0, 0.1);
    color: #FFC3C3;
    outline-color: rgba(177, 0, 0, 0.84);
    left: 50%;
    top: 82%;
}
#burbuja{
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: gray;
    top: 34%;
    border-radius: 50%;
    transition: border-radius 0.5s;
}
#burbuja.activo{
    border-radius: 70% 30% 50% 50% / 50% 30% 70% 50%;
}
#defaultCanvas0{
    background-color: rgba(red, green, blue, 0) !important;
}


.fondo-popup{
    z-index: 30;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    position: relative;
}
.contenido-mis-records{
    position: absolute;
    left: 18.8%;
    top: 22.4%;
    width: 62.2%;
    height: 75.7%;
    background-color: #E6B0C8;
    border-radius: 50px;
    box-shadow: #774E73 0 0 50px 5px ;
}
#imgRecords{
    border-radius: 50%;
    padding: 1rem;
    background-color: #E6B0C8;
    width: 17rem;
    height: 17rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    box-shadow: #774E73 0 0 30px 5px ;
}
#nick{
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translate(-50%,-50%);
    font-weight: 400;
    font-size: 50px;
}
#statsRecords{
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.stat .contTituloRango{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: larger;
}
.titulo{
    margin: 0;
    font-weight: 400;
    font-size: 40px;
}
.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #774E73;
}
.valor{
    font-size: 35px;
    margin: 0;
    color: black;
}