@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css");
*{
    font-family: "Plus Jakarta Sans";
    user-select: none;
}
#pantalla-principal{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #2c0129, #040007);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navPrincipal{
    width: 100%;
    height: 17.8%;
    background-color: rgba(217, 217, 217, 0.04);
    position: absolute;
    top: 0;
    left: 0;
}
#logo{
    position: absolute;
    height: 100%;
    font-size: 40px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
}
#contenedor-opciones-nav{
    position: absolute;
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    gap: 5rem;
    box-sizing: border-box;
    padding: 0 2rem;
    color: white;
}
#contenedor-opciones-nav img{
    height: 6.7cqw;
    width: 6.7cqw;
    border-radius: 50%;
}
#contenedor-opciones-nav > *{
    cursor: pointer;
    transition: scale 0.3s;
    &:hover{
        scale: 1.05;
    }
}
.boton-modo{
    height: 15%;
    position: absolute;
    box-sizing: border-box;
    font-size: 25px;
    border: none;
    border-radius: 30px;
    outline: 2px solid ;
    outline-offset: 5px;
    cursor: pointer;
    transform: translateX(-50%);
    width: 18%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
#boton-practica{
    background-color: rgba(255, 168, 0, 0.1);
    color: #FFF0D3;
    outline-color: rgba(255, 168, 0, 0.84);
    left: 30%;
    top: 25%;
}
#boton-cronometro{
    background-color: rgba(0, 102, 255, 0.1);
    color: #E2EDFF;
    outline-color: rgba(0, 102, 255, 0.84);
    left: 70%;
    top: 25%;
}
#boton-1vs1{
    background-color: rgba(177, 0, 0, 0.1);
    color: #FFC3C3;
    outline-color: rgba(177, 0, 0, 0.84);
    left: 50%;
    top: 82%;
}
#burbuja{
    position: absolute;
    width: 300px;
    height: 300px;
    border: 2px solid purple;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    border-radius: 50%;
    transition: border-radius 0.35s;
}
#burbuja.activo{
    border-radius: 70% 30% 50% 50% / 50% 30% 70% 50%;
}
#defaultCanvas0{
    background-color: rgba(red, green, blue, 0) !important;
}

/* records */
.fondo-popup{
    z-index: 30;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido-mis-records{
    position: absolute;
    left: 18.8%;
    top: 22.4%;
    width: 62.2%;
    height: 75.7%;
    background-color: #E6B0C8;
    border-radius: 50px;
    box-shadow: #774E73 0 0 50px 5px ;
}
#imgRecords{
    border-radius: 50%;
    padding: 1rem;
    background-color: #E6B0C8;
    width: 25vh;
    height: 25vh;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    box-shadow: #774E73 0 0 30px 5px ;
}
#nick{
    position: absolute;
    left: 50%;
    top: 22%;
    transform: translate(-50%,-50%);
    font-weight: 400;
    font-size: 50px;
}
#statsRecords{
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.stat .contTituloRango{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: larger;
}
.titulo{
    margin: 0;
    font-weight: 400;
    font-size: 150%;
}
.stat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    color: #774E73;
}
.valor{
    font-size: 150%;
    margin: 0;
    color: black;
}

/* perfil */
.contenido-perfil{
    position: relative;
    width: 55%;
    height: 70%;
    background-color: #E6B0C8;
    border-radius: 50px;
    box-shadow: #774E73 0 0 50px 5px ;
    display: grid;
    grid-template-columns: 30% 70%;
    align-items: center;
    padding: 0 2rem;
    box-sizing: border-box;
}
.contenido-perfil > *{
    height: 100%;
    width: 100%;
}
#contenedorIMGperfil{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#imgPerfil{
    width: 15cqw;
    height: 15cqw;
    border-radius: 50%;
}
#label-imagen{
    background-color: #FCAF58;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    height: 8vh;
    width: 8vh;
    position: absolute;
    left: 70%;
    top: calc(50% - 8cqw);
}
#contenedorInfoPerfil{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 1rem;
    padding-left: 5rem;
    position: relative;
}
.elementoPerfil{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.infoElementoPerfil > *{
    margin: 0;
}
.infoElementoPerfil{
    display: flex;
    flex-direction: column;
}
.nombreElementoPerfil{
    color: gray;
    font-size: small;
}
.botonEditarPerfil{
    background-color: #FCAF58;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: large;
}
.valorElementoPerfil{
    font-size: large;
}
.botonEditarPerfil,#imgPerfil,#boton-editar-imagen,.info-amigo img,.info-amigo{
    box-shadow: rgba(0, 0, 0, 0.206) 5px 5px 5px 1px;
}
.botonEditarPerfil,#boton-editar-imagen{
    cursor: pointer;
}
#boton-editar-imagen{
    background-color: #FCAF58;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    height: 8vh;
    width: 8vh;
    position: absolute;
    left: 70%;
    top: calc(50% - 8cqw);
}
.input-editable {
    border: none;
    outline: none;
    background: none;
    font-size: inherit; /* Mantener el mismo tamaño de fuente que el texto */
    font-family: inherit; /* Mantener la misma familia de fuente que el texto */
    color: inherit; /* Mantener el mismo color de texto que el texto */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el input */
    font-size: 1.15rem;
    border-bottom: 2px gray solid;
  }
  
  .input-editable:focus {
    border: none; /* Eliminar el borde al hacer foco en el input */
    outline: none; /* Eliminar el outline al hacer foco en el input */
    border-bottom: 2px gray solid;
  }
/* amigos css */

/* solicitudes */
.contenedor-botones-solicitud{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    & button{
        scale: 0.8;
    }
}
/* solicitudes */
#contenedorAmigos{
    height: 90%;
    width: 30%;
    background-color: #E4FDE1;
    border-radius: 30px;
    display: grid;
    grid-template-rows: 20% 80%;
}
#contenedorAmigos nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#contenedorAmigos i{
    transition: border .5s;
    padding: 5px;
}
.icono-amigos{
    color: #FCAF58;
    scale: 2;
    cursor: pointer;
}
#buscador-amigos:focus{
    outline : #FCAF58 2px solid;
    outline-offset : 3px
}
/* .icono-amigos::after{
    content: "";
    width: 0px;
    height: 3px;
    background-color: #FCAF58;
    bottom: -10px;
    left: 0;
    position: absolute;
    transition: all 0.2s;
}
.icono-amigos:hover::after{
    width: 100%;
}
.icono-amigos:focus::after{
    width: 100%;
} */
#listado-amigos{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    position: relative;
    align-items: center;
    &::-webkit-scrollbar{
        width: 0;
    }
    gap: 1rem;
}
.info-amigo{
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(230, 176, 200, 0.5);
    padding: 1rem;
    width: 80%;
    border-radius: 5px;
}
.info-amigo img{
    height: 100%;
    border-radius: 50%;
}
.h1Amigos{
    color: #E6B0C8;
    font-size: 50px;
}

.amigos .contenido-mis-records{
    margin: 1rem;
    position: relative;
    left: 0;
    top: 7.4%;
    width: 50%;
}

/* rankings */
.contenedor-rankings{
    height: 82.3%;
    width: 28.47%;
    background-color: #E6B0C8;
    border-radius: 25px;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 15px 0 #E6B0C8;
}
.contenedor-rankings > *{
    width: 90%;
}
.contenedor-personas-ranking{
    display: flex;
    flex-direction: column;
    gap: 8px;
    position: relative;
    height: 90%;
}
.tituloRanking{
    text-align: center;
    color: #774E73;
}
.persona-ranking{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    /* padding: 1rem 0; */
    box-sizing: border-box;
    height: calc(20% - 16px);
}
.nombre-ranking{
    font-size: larger;
}
.primero{
    & .puesto-ranking{
        color: #FF6B00;
    };
    background-image: linear-gradient(to right, rgb(231,245,73), rgb(245,224,115));
}
.segundo{
    & .puesto-ranking{
        color: #373737;
    };
    background-image: linear-gradient(to right, rgb(118,118,118), rgb(165,165,165));
}
.tercero{
    & .puesto-ranking{
        color: #A14400;
    };
    background-image: linear-gradient(to right, rgb(235,159,10), rgb(232,172,117));
}
.cuartoquinto{
    & .puesto-ranking{
        color: #A2A2A2;
    };
    background-color: #DCDCDC;
}
